<%= form_for(facility) do |f| %>
  <% if facility.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(facility.errors.count, "error") %> prohibited this facility from being saved:</h2>

      <ul>
      <% facility.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :address1 %>
    <%= f.text_field :address1 %>
  </div>

  <div class="field">
    <%= f.label :address2 %>
    <%= f.text_field :address2 %>
  </div>

  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :region %>
    <%= f.text_field :region %>
  </div>

  <div class="field">
    <%= f.label :postal_code %>
    <%= f.text_field :postal_code %>
  </div>

  <div class="field">
    <%= f.label :max_occupancy %>
    <%= f.number_field :max_occupancy %>
  </div>

  <div class="field">
    <%= f.label :square_meterage_storage %>
    <%= f.text_field :square_meterage_storage %>
  </div>

  <div class="field">
    <%= f.label :inserted_at %>
    <%= f.datetime_select :inserted_at %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
